---
import { cn } from '@ui/utils/cn'

interface Props {
    title: string
    description: string
    variant?: 'row' | 'col'
    url?: string
}

const variants = {
    row: 'flex-row col-span-2',
    col: 'flex-col col-span-1',
}

const { title, description, variant = 'col' , url} = Astro.props
---
<a href={url}  class={cn([
    'row-span-1 cursor-pointer rounded-xl group/bento hover:shadow-xl transition duration-200 shadow-input dark:shadow-none p-4 dark:bg-black dark:border-white/[0.2] bg-white border border-zinc-100 justify-evenly gap-4 flex ',
    variants[variant]]
) }>



    <slot class="flex-grow" />

    <div
        class="group-hover/bento:translate-x-2 transition duration-200 flex flex-col flex-grow"
    >
        <div
            class="font-sans font-bold  text-neutral-600 dark:text-neutral-200 mb-2 mt-2"
        >
            {title}
        </div>
        <div
            class="font-sans font-normal text-neutral-600 text-xs dark:text-neutral-300"
        >
            {description}
        </div>
    </div>

</a>