---
import { cn } from "@lib/utils"

const gradient = [
    'bg-gradient-to-r from-red-400 to-red-900',
    'bg-gradient-to-br from-sky-400 to-blue-500',
    'bg-gradient-to-br from-orange-400 to-rose-400'
]

const randomGradient = gradient[Math.floor(Math.random() * gradient.length)]

---
<div
class={cn([" w-full h-full p-4  rounded-lg mix-blend-multiply",randomGradient])}
>
<div class={cn(["h-full w-full rounded-lg"])}></div>
</div>