---
type Props={
    title: string;
    subtitle: string;
    url: string;
}
const {title, subtitle, url}=Astro.props

---
    <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
      <div class="flex-shrink-0">
       <slot name="icon"></slot>
      </div>
      <div class="min-w-0 flex-1">
        <a href={url} class="focus:outline-none">
          <span class="absolute inset-0" aria-hidden="true"></span>
          <p class="text-sm font-medium text-gray-900">{title}</p>
          <p class="line-clamp-3 text-sm text-gray-500">{subtitle}</p>
          <slot name="badges"></slot>
        </a>
      </div>
    </div>
  