---
import Title from '../../blocks/Title.astro'
import MdxSection from '@ui/astro/components/mdx/MdxSection.astro'
---

<div
    class="col-span-12 row-span-1 flex flex-col justify-between shadow-border md:col-span-5 lg:col-span-6"
>
    <div class="px-6 py-6 space-y-4">
        <Title icon="puzzle" text="Knowledge" />
        <div class="text-lg leading-relaxed font-normal text-balance list-none">
            <MdxSection page="home" name="knowledge" />
        </div>
    </div>
</div>
