---
import FormattedDate from '../components/text/FormattedDate.astro';

interface Props {
  title: string;
  date: string;
  coverImage?: string;
}

const { title, date, coverImage } = Astro.props;
---

<div class="relative w-full md:max-h-[40vh] md:aspect-[21/9] rounded-xl overflow-hidden">
  <img
    src={coverImage}
    alt={title}
    class="w-full h-full object-cover"
  />
  <div class="absolute inset-0 bg-gradient-to-tr from-black/60 via-black/40 to-black/10"></div>
  <div class="absolute bottom-0 left-0 right-0 p-6 text-white">
    <h1 class="text-3xl font-bold mb-2">{title}</h1>
    <FormattedDate date={date}/>
  </div>
  
</div>