---

---

<div
    left-[
    class="w-[var(--bg-width-rounded)] dark:bg-grid-neutral-500 bg-grid-neutral-300 fixed top-0 bottom-0 left-0 -z-10"
    style="background-position-x: center"
>
    {/* Radial gradient for the container to give a faded look */}
    <div
        class="absolute pointer-events-none inset-0 flex items-center justify-center dark:bg-black bg-white [mask-image:radial-gradient(ellipse_at_center,rgba(0,0,0,0.8)_30%,rgba(0,0,0,0.5)_70%,rgba(0,0,0,0.6)_90%)]"
    >
    </div>
</div>
<slot />
