---

---

<div
    class="w-full dark:bg-grid-white/[0.2] bg-grid-black/[0.2] fixed inset-0 -z-10"
>
    {/* Radial gradient for the container to give a faded look */}
    <div
        class="absolute pointer-events-none inset-0 flex items-center justify-center dark:bg-black bg-white [mask-image:radial-gradient(ellipse_at_center,black_30%,rgba(0,0,0,0.30)_90%)]"
    >
    </div>
</div>
<slot />
