---
import SpeedInsights from '@vercel/speed-insights/astro';
import Footer from '../sections/Footer.astro'
import Head from '../sections/Head.astro'
import Burger from '../sections/navigation/Burger.astro';
import Header from '../sections/navigation/Header.astro'
import DotBackground from './DotBackground.astro'

type Props = {
    title: string
    description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en" class="system light">
    <head>
        <Head title={`Alex Whiteside | ${title}`} description={description} />
    </head>
    <body>
        <DotBackground />
        <Header><slot slot="before" name="before"></slot> <slot slot="title" name="title"></slot><Burger slot="navigation" /></Header>
        
        <main>
            <slot />
        </main>
        <Footer />
        <SpeedInsights />
        <!--<PageFind />-->
    </body>
</html>
