---
import SpeedInsights from '@vercel/speed-insights/astro'
import { css } from '../../../../styled-system/css'
import Footer from '../sections/Footer.astro'
import Head from '../sections/Head.astro'
import Burger from '../sections/navigation/Burger.astro'
import Header from '../sections/navigation/Header.astro'
import DotBackground from './DotBackground.astro'

type Props = {
	title: string
	description: string
	kind?: 'page' | 'post' | 'hidden'
    image?:string
}

const { title, description, kind, image } = Astro.props
---

<!doctype html>
<html lang="en" class="light">
    <head>
        <Head kind={kind} title={title} description={description} image={image} />
        <style>
            :root {
                /*--100vw: 100vw;*/
                /*--px-width: tan(atan2(var(--100vw), 1px));*/
                /*--count-cells-wide: calc(var(--px-width / 28));*/
                --grid-cell-size: 28px;
                --max-screen-px: 1008px;
                /* This shrinks the max width of the container to be a multiple of 28 */
                --max-screen-width: round(
                    down,
                    min(100vw, var(--max-screen-px)),
                    calc(var(--grid-cell-size) * 2)
                );

                /* This can be used to offset a centered background image such that it aligns to 28px cells */
                --bg-width-rounded: calc(100vw + var(--grid-cell-size))
                    /* This shifts the background pattern so that it is always aligned with a multiple of 28   */
                    /*--grid-offset-width: calc(*/
                    /*    var(--100vw) - var(--max-screen-width)*/ /*);*/;
            }
        </style>
    </head>
    <body
        class={css({
            minHeight: '104vh',
            position: 'relative',
        })}
    >
        <DotBackground />

        <Header>
            <slot slot="before" name="before" />
            <slot slot="title" name="title" />
            <Burger slot="navigation" />
        </Header>

        <main>
            <slot />
        </main>
        <Footer />
        <SpeedInsights />
        <!--<PageFind />-->
    </body><script>
        import { setupScrollAnimation } from './titleAnimation'
        import { ensureInit } from '../../../lib/astro'

        ensureInit(() => setupScrollAnimation())
    </script>
</html>
