---
import ArrowCard from '@ui/astro/components/ArrowCard.astro'
import Layout from '@ui/astro/layouts/Layout.astro'
import { Hashnode } from '../../hashnode'
import GradientText from '../../ui/astro/components/elements/GradientText.astro'
import Container from '../../ui/astro/components/global/Container.astro'
import { byDate } from '@ui/utils/interval'

export const prerender = false

let posts = await Hashnode.getPosts()
posts=posts.sort(byDate(x=>new Date(x.publishedAt))).reverse()

---

<Layout title={''} description={''}>
    <Container>
        <div class="space-y-10">
            <GradientText size={6} color="blue">Thoughts</GradientText>
            <div class="space-y-4">
                <section class="animate space-y-4">
                    <div>
                        <ul class="not-prose flex flex-col gap-4">
                            {
                                posts.map((post) => (
                                    <li>
                                        <ArrowCard entry={post} />
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </Container>
</Layout>
