---
import { css } from '@styles/css'
import { draw, min } from 'radash'
import {
	coverColor,
	innerColor,
	palette,
	paletteBase,
	paletteCover,
	paletteWrapper,
} from './styles'

type Props = {
	colorInner?: string
	colorCover?: string
	minSize?: string
	liftClearance?: 'full' | 'tight' | 'low'
}
const {
	colorInner = 'green',
	colorCover = 'white',
	minSize = '100px',
	liftClearance = 'low',
} = Astro.props
---

<div class={paletteWrapper}>
    <div
        role="group"
        class={palette}
        style={{
            ['--bg-color-main']: colorCover,
            ...innerColor.set(colorInner),
            ...coverColor.set(colorCover),
        }}
    >
        <div data-role="cover" class={paletteCover({ lift: liftClearance })}>
            <slot name="cover" />
        </div>
        <div class={paletteBase}>
            <slot name="inner" />
        </div>
    </div>
</div>
