---
import { cn } from '@lib/utils'
import BurgerSvg from './BurgerSvg.astro'
import icons from './icons.svg?raw'
import ThemePicker from '@ui/astro/components/global/ThemePicker.astro'
const pathname = new URL(Astro.request.url).pathname
const links = [
    {
        text: 'About Me',
        href: '/',
        icon: 'person',
        current: false,
        hover: 'hover:text-indigo-500 dark:hover:text-indigo-400',
        active: 'text-indigo-600 dark:text-indigo-400',
    },
    {
        text: 'Writing',
        href: '/blog',
        icon: 'blog',
        current: false,
        hover: 'hover:text-blue-500 dark:hover:text-blue-400',
        active: 'text-blue-600 dark:text-blue-400',
    },
    {
        text: 'Career',
        href: '/background',
        icon: 'work',
        current: false,
        hover: 'hover:text-pink-500 dark:hover:text-pink-400',
        active: 'text-pink-600 dark:text-pink-400',
    },
    {
        text: 'Awesome',
        href: '/recommendations',
        icon: 'sparkle',
        current: false,
        hover: 'hover:text-orange-500 dark:hover:text-orange-400',
        active: 'text-orange-600 dark:text-orange-400',
    },
]
const link = links.find(
    (link) => pathname.split('/')[1] === link.href.split('/')[1]
)
if (link) {
    link.current = true
}
---

<div class="hidden"><Fragment set:html={icons} /></div>

<BurgerSvg>
    <nav
        slot="content"
        class="flex flex-1 flex-col py-2 px-4 translate-x-1 -translate-y-2 bg-white dark:bg-neutral-900 dark:border-neutral-700 border shadow-md backdrop-blur-sm rounded-xl"
        aria-label="Sidebar">
        <ul
            role="list"
            class="-mx-2 space-y-1 transition-all duration-200 ease-in-out">
            {
                links.map((link) => (
                    <li>
                        <a
                            href={link.href}
                            class={cn(
                                'group text-nowrap flex gap-x-3 rounded-lg p-2 pr-3 text-sm font-semibold leading-6',
                                'text-neutral-600 dark:text-neutral-200',
                                link.current && link.active,
                                [
                                    link.hover,
                                    'hover:bg-zinc-100 dark:hover:bg-zinc-800 border border-white dark:border-none hover:shadow-inner ',
                                ].join(' ')
                            )}>
                            <svg
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                class="h-6 w-6 shrink-0 ">
                                <use xlink:href={`#${link.icon}`} />
                            </svg>
                            {link.text}
                        </a>
                    </li>
                ))
            }
        </ul>

        <div class="">
            <ThemePicker />
        </div>
    </nav>
</BurgerSvg>
