---
import Container from "@ui/astro/components/global/Container.astro";


const SIZE = 24;

const BAR_HEIGHT = Math.round(SIZE/12);



---



<div class="flex flex-col items-end w-20">
<button type="button" id="burger-menu" data-active="true" class="group peer flex flex-row justify-end items-center px-2 py-1 gap-1 text-black backdrop-blur-sm bg-slate-600/30 rounded-md ">
    <p class="text-sm">Menu</p>

    <span id="burger-menu-icon"  class="relative top-0 left-0 h-6 w-6 scale-75">
        <div
            class="absolute top-1 left-0 h-[3px] w-full origin-center transition bg-current group-data-[active=true]:rotate-45 group-data-[active=true]:translate-y-2"
        >
        </div>
        <div
            class="absolute top-4 left-0 h-[3px] w-full origin-center transition bg-current group-data-[active=true]:-rotate-45 group-data-[active=true]:-translate-y-1"
        >
        </div>
    </span>
</button>
<div  class="max-h-0 overflow-visible opacity-0 translate-y-2 transition duration-300 ease-in-out peer-data-[active=true]:opacity-100 peer-data-[active=true]:translate-y-8 ">
<slot name="content" />
</div>
</div>

<script is:inline>

    const initBurger =()=>{
    console.log('init')
    const burgerMenu = document.getElementById('burger-menu');
    burgerMenu.addEventListener('click', (event) => {
        burgerMenu.dataset.active = burgerMenu.dataset.active === 'true' ? 'false' : 'true';
    });
    burgerMenu.dataset.active='false'
}
    document.addEventListener('astro:after-swap', () => initBurger())
    initBurger()
</script>