---

---
<div class=" max-w-screen-md mx-auto w-full flex px-4 mt-10"><slot name="before" /></div>
<div class="sticky top-0 flex content-end scroll-bg load z-20">
    <div class="sticky top-0 max-w-screen-md mx-auto w-full">
        <div class="flex flex-row items-center justify-between gap-3 px-4 py-2">
            <div><slot name="title" /></div>
            <div class="relative flex align-middle">
                <slot name="navigation" />
            </div>
        </div>
    </div>
</div>
