---

---
<div class="min-h-12 mt-12">{''}</div>
<div class=" max-w-screen-md mx-auto w-full flex px-3"><slot name="before" /></div>
<div class="sticky top-0 flex content-end bg-white/90 backdrop-blur-sm z-20">
    <div class="sticky top-0 max-w-screen-md mx-auto w-full">
        <div class="flex flex-row items-center justify-between gap-3 px-3 py-2">
            <div><slot name="title" /></div>
            <div class="relative flex align-middle">
                <slot name="navigation" />
            </div>
        </div>
    </div>
</div>
