---
import { getWorkContent } from '../../../lib/getWorkContent'
import Title from '../../blocks/Title.astro'
import ExperienceSquare from './ExperienceSquare.astro'

const companies = await getWorkContent()

const even = companies.getByCompany('Even Financial')
const moneylion = companies.getByCompany('MoneyLion')
const birch = companies.getByCompany('Birch Finance')
const amex = companies.getByCompany('American Express (AET)')
const rile = companies.getByCompany('Robotic Interactive Learning Environment')
const afrl = companies.getByCompany('Air Force Research Lab')
---

<div
    class="col-span-12 flex flex-col md:col-[span_7/-1] lg:col-[span_6/-1] row-span-1 shadow-border"
>
    <div class="px-6 py-6 space-y-4">
        <Title icon="building" text="Career" url="/background" />

        <div
            class="w-full flex flex-row flex-wrap gap-3 justify-between align-middle"
        >
            <div
                style={{ gridAutoRows: '1fr' }}
                class="grid w-full grid-cols-2 sm:grid-cols-4 gap-3 items-stretch justify-stretch p-3 bg-neutral-100 dark:bg-neutral-800 rounded-xl"
            >
                <ExperienceSquare
                    elements={[
                        {
                            name: 'Serial Entrepreneur',
                            companies: [rile, birch],
                        },
                        {
                            name: 'Scientific Background',
                            companies: [afrl, rile],
                        },
                        {
                            name: 'Experienced Leader',
                            companies: [even, moneylion],
                        },
                    ]}
                    ><span>Years Experience</span>
                    <span
                        slot="icon"
                        class="text-3xl -m-[2px] leading-none font-bold"
                    >
                        10<sup>+</sup>
                    </span>
                </ExperienceSquare>
                <ExperienceSquare
                    elements={[
                        { name: 'Startups', companies: [rile, birch, even] },
                        {
                            name: 'Public Companies',
                            companies: [amex, moneylion],
                        },
                    ]}
                    }
                    ><span>Large and Small Orgs</span>
                    <div slot="icon">
                        <svg viewBox="0 0 24 24" class="h-6 w-6">
                            <use xlink:href={`#building`}></use>
                        </svg>
                    </div>
                </ExperienceSquare>
                <ExperienceSquare
                    elements={[
                        {
                            name: 'FinTech',
                            companies: [birch, even, moneylion],
                        },
                        { name: 'EdTech', companies: [rile] },
                        { name: 'Aerospace', companies: [afrl] },
                    ]}
                    ><span>Multiple Industries</span>
                    <div slot="icon">
                        <svg viewBox="0 0 24 24" class="h-6 w-6">
                            <use xlink:href={`#industries`}></use>
                        </svg>
                    </div>
                </ExperienceSquare>
                <ExperienceSquare
                    elements={[
                        {
                            name: 'Director of Product',
                            companies: [even],
                        },
                        {
                            name: 'Sr. Director of Engineering',
                            companies: [moneylion],
                        },
                        {
                            name: 'Architect',
                            companies: [moneylion],
                        },
                    ]}
                    ><span>Director<sup class="text-sm">+</sup> Positions</span>
                    <div slot="icon">
                        <svg viewBox="0 0 24 24" class="h-6 w-6">
                            <use xlink:href={`#senior-position`}></use>
                        </svg>
                    </div>
                </ExperienceSquare>
            </div>
        </div>
    </div>
</div>
