---
import Experience from './Experience.astro'
import Title from '../../blocks/Title.astro'
const content = {
    experiences: {
        organizations: [
            { name: 'Startup' },
            // { name: 'Scale-up' },
            { name: 'Enterprise' },
        ],
        roles: [
            {
                name: 'Team Lead',
            },
            {
                name: 'Director of Product',
            },
            { name: 'Sr. Director of Engineering' },
            { name: 'Architect' },
        ],
        industries: [
            { name: 'FinTech' },
            { name: 'EdTech' },
            { name: 'Aerospace' },
        ],
    },
}
---

<div
    class="col-span-12 flex flex-col md:col-[span_6/-1] row-span-1 shadow-border"
>
    <div class="px-6 py-6 space-y-4">
        <!--<Title icon="book" text="Background" />-->

        <div class="w-full flex flex-row gap-4 justify-between align-middle">
            <div
                class="flex flex-col items-center justify-center w-fit p-4 mt-4 bg-neutral-100 shadow-inner dark:bg-neutral-800 rounded-xl"
            >
                <div class="text-5xl">
                    10<sup class="text-3xl">+</sup>
                </div>
                <div class="text-base font-medium leading-tight text-center">
                    years of<br /> experience
                </div>
            </div>
            <Experience
                elements={content.experiences.organizations}
                title="Size"
            />
            <Experience
                elements={content.experiences.industries}
                title="Industry"
                class="flex-wrap flex-row"
            />
        </div>
    </div>
</div>

<div
    class="col-span-12 flex flex-col md:col-[span_6/-1] row-span-1 -col-end-1 shadow-border"
>
    <div class="px-6 py-6 space-y-4">
        <div
            class="w-full flex flex-wrap flex-row gap-4 justify-between align-middle"
        >
            <Experience
                elements={content.experiences.roles}
                title="Position"
                class="flex-row flex-wrap"
            />
        </div>
    </div>
</div>
