---
import { sift } from 'radash'
import { cn } from '../../../lib/utils'
type Props = {
	elements: Array<{
		name: string
		icon?: string
		of?: Array<{ name: string }>
	}>
	class?: string
	title?: string
}
---

<div class="flex flex-col grow space-y-1">
    <!--<p-->
    <!--    class="font-semibold uppercase tracking-wide text-xs text-neutral-500 dark:text-neutral-400 text-right px-4"-->
    <!--&gt;-->
    <!--    {Astro.props.title}-->
    <!--</p>-->
    <div
            class={cn(
                sift([
                    'relative flex flex-wrap gap-3 p-3 bg-neutral-100 dark:bg-neutral-800 rounded-xl justify-start grow ',
                    Astro.props.class,
                ])
            )}
    >
        {
            Astro.props.elements.map(({of = [], name, icon}, index) => {
                const children = [...of]
                const hasChildren = children.length > 0
                return (
                        <div
                                data-kind="collection-arrow-item"
                                class="bg-white dark:bg-neutral-700 shadow-sm dark:shadow-neutral-900 grow flex flex-col items-center gap-2 justify-center rounded-lg p-3 text-center transition-all hover:shadow-md"
                        >
                            {icon && (
                                    <svg viewBox="0 0 24 24" class="h-6 w-6">
                                        <use xlink:href={`#${icon}`}/>
                                    </svg>
                            )}
                            <p class="text-sm text-neutral-800 dark:text-neutral-100 max-w-32 text-balance leading-tight font-medium">
                                {name}
                            </p>
                            {hasChildren && (
                                    <div class="flex flex-row gap-1 mt-2">
                                        {children.map((child) => (
                                                <p class="px-2 py-1 rounded-full bg-neutral-200 dark:bg-neutral-600 text-xs text-neutral-700 dark:text-neutral-200">
                                                    {child.name}
                                                </p>
                                        ))}
                                    </div>
                            )}
                        </div>
                )
            })
        }
    </div>
</div>
