---
import Lifted from '../../../ui/astro/components/lifted/Lifted.astro'

import { css, cx } from '@styles/css'
import { get, isString } from 'radash'
import { stacked } from './styles'

type Props = {
    icon?: string
    elements: Array<{
        name?: string
        companies?: Array<{ logo: string | { src: string }; company: string }>
    }>
}
const { icon, elements } = Astro.props
---

<Lifted liftClearance="full" colorInner="">
    <div
        slot="cover"
        class="aspect-square dark:bg-neutral-700 shadow-sm dark:shadow-neutral-900 flex flex-col items-center gap-2 justify-evenly rounded-lg p-3 text-center transition-all"
    >
        <slot name="icon" />

        <div
            class="text-sm max-w-20 text-neutral-800 dark:text-neutral-100 text-balance leading-tight font-semibold"
        >
            <slot />
        </div>
    </div>
    <div
        slot="inner"
        class="bg-neutral-500 shadow-neutral-800 shadow-inner w-full h-full relative"
        data-kind="stacked"
    >
        {
            elements.map((element, index) => {
                return (
                    <section
                        class={cx(
                            stacked,
                            'start',
                            'flex flex-col max-w-full max-h-full items-center justify-evenly text-balance'
                        )}
                    >
                        {element.companies && (
                            <div class="inline-flex px-2 max-h-8 max-w-full">
                                {element.companies.map((company, index) => (
                                    <div
                                        class="inline-block w-8 rounded-full"
                                        style={{
                                            marginLeft:
                                                index > 0
                                                    ? `-${get(element, 'companies', []).length * 0.2}rem`
                                                    : '0px',
                                        }}
                                    >
                                        <img
                                            src={
                                                isString(company.logo)
                                                    ? company.logo
                                                    : company.logo.src
                                            }
                                            alt={company.company}
                                            class="h-full aspect-square object-contain rounded-full"
                                        />
                                    </div>
                                ))}
                            </div>
                        )}
                        <p class="text-sm  leading-none text-neutral-200 dark:text-neutral-300 font-medium text-center ">
                            {element.name}
                        </p>
                    </section>
                )
            })
        }
    </div>
</Lifted>

<style is:global lang="scss">
    [data-kind='stacked'] {
        & .visible {
            opacity: 1;
            transform: translateX(0px) scale(1);
        }

        & .start {
            opacity: 0;
            transform: translateX(-10px) scale(0.9);
        }

        & .end {
            opacity: 0;
            transform: translateX(10px) scale(0.9);
        }
    }
</style>

<script>
    import { ensureInit } from '../../../lib/astro'

    const setup = (document: Document) => {
        console.log('Setup')

        document.querySelectorAll('[data-kind=stacked]').forEach((stack) => {
            let count = 0
            let lastTimestamp = 0
            const showNext = () => {
                const element = count % elements.length
                elements[element].classList.replace('start', 'visible')
                count = count + 1
            }

            const elements = stack.querySelectorAll('section')
            if (elements.length <= 1) {
                elements.forEach((e) => e.classList.replace('start', 'visible'))
                return
            }
            elements.forEach((el) => {
                el.addEventListener('transitionend', (evt) => {
                    const element = evt.target
                    if (!(element instanceof HTMLElement)) return
                    if (evt.timeStamp - lastTimestamp < 20) {
                        return
                    }
                    lastTimestamp = evt.timeStamp
                    if (element.classList.replace('end', 'start')) {
                    } else if (element.classList.contains('visible')) {
                        setTimeout(
                            () => element.classList.replace('visible', 'end'),
                            2000
                        )
                    } else if (element.classList.contains('start')) {
                        setTimeout(() => showNext(), 30)
                    }
                })
            })
            showNext()
        })
    }
    ensureInit(setup, { pages: ['/', ''] })
</script>
