---
type Props = {
    group: string
    icon: string
    elements: Array<{ name: string }>
}
const { icon, group, elements } = Astro.props
---

<div
    class="bg-white grow dark:bg-neutral-700 shadow-sm dark:shadow-neutral-900 flex flex-col items-center gap-2 justify-center rounded-lg p-3 text-center transition-all hover:shadow-md"
>
    <svg viewBox="0 0 24 24" class="h-6 w-6">
        <use xlink:href={`#${icon}`}></use>
    </svg>

    <p
        class="text-sm text-neutral-800 dark:text-neutral-100 max-w-32 text-balance leading-tight font-medium"
    >
        {group}
    </p>
</div>
