---
import type { CollectionEntry } from 'astro:content'
import { optimizeImage } from '../../../utils/optimizeImage'

interface Props {
	entry: CollectionEntry<'awesome'>
}

const { entry } = Astro.props
const type = entry.id.split('/')[0] as 'blogs' | 'talks' | 'books'
let image = optimizeImage(entry.data.cover!, 'med')
let showTitle = true
switch (type) {
	case 'talks':
		image = `https://i.ytimg.com/vi/${new URL(entry.data.url).pathname.replaceAll('/', '')}/hqdefault.jpg`
		break
	case 'books':
		showTitle = false
		break
	case 'blogs':
		break
}
const { url, name } = entry.data
---

<a
    href={url}
    class="block relative [aspect-ratio:6/9] max-h-[14rem] overflow-hidden rounded-lg shadow-md transition-all duration-300 ease-in-out hover:-translate-y-1 hover:shadow-lg"
>
    <div class="relative w-full h-full">
        <img src={image} alt={name} class="w-full h-full object-cover" />

        {
            showTitle && (
                <div class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black/70 to-transparent p-4">
                    <h3 class="text-white text-xl font-semibold m-0 drop-shadow-md">
                        {name}
                    </h3>
                </div>
            )
        }
    </div>
</a>
