---
import type { CollectionEntry } from 'astro:content'
import { resolveImage } from '../../../utils/imagesCollese'
import { optimizeImage } from '../../../utils/optimizeImage'
import { CardTypes } from './CardTypes'

interface Props {
	entry: CollectionEntry<'awesome'>
}

const { entry } = Astro.props
const type = entry.id.split('/')[0] as 'blogs' | 'talks' | 'books'

const image =
	resolveImage(entry.data.cover) ?? CardTypes[type].imageGenerationFn(entry)
const showTitle = CardTypes[type].showTitle

const { url, name } = entry.data
---

<a
        href={url}
        class="relative block aspect-[3/4] w-full max-w-[14rem] overflow-hidden rounded-lg shadow-md transition-all duration-300 ease-in-out hover:-translate-y-1 hover:shadow-lg"
>
    <div class="relative h-full w-full">
        <img
                src={optimizeImage(image, 'med')}
                alt={name}
                loading="lazy"
                decoding="async"
                style={`background-size: cover; background-image: url(${optimizeImage(image, 'placeholder')});`}
                class="w-full h-full object-cover"
        />

        {
            showTitle && (
                        <div class="absolute inset-x-0 bottom-0 bg-gradient-to-t from-black/70 to-transparent p-4">
                            <h3 class="m-0 text-xl font-semibold text-white drop-shadow-md">
                                {name}
                            </h3>
                        </div>
            )
        }
    </div>
</a>
