---
import { getCollection } from 'astro:content'
import { filterFeatured } from '@ui/utils/draftProdFilter'
import BookCard from './BookCard.astro'
import BentoGrid from '../components/bento/BentoGrid.astro'
const featured = await getCollection('awesome', filterFeatured)
---

<div class="flex flex-col gap-4">
    <BentoGrid>
        <BookCard books={featured} />
    </BentoGrid>
</div>
