---
---

<div class=" dark:border-zinc-700  bg-zinc-100/[0.7] border-zinc-100 shadow-slate-300 shadow-inner  dark:bg-zinc-900/[0.7] rounded-xl p-6 max-w-full my-10 flex flex-col gap-6 dark:prose-invert ">
    <slot/>
</div>