---
---

<div class=" dark:border-zinc-700  bg-neutral-50 border-neutral-100 shadow-slate-200  shadow-inner  dark:bg-zinc-900/[0.7] rounded-2xl p-8 max-w-full  flex flex-col gap-6 dark:prose-invert ">
    <slot/>
</div>