---
import Title from '../blocks/Title.astro'
---

<div
    class="col-span-12 row-span-1 flex flex-col justify-between shadow-border md:col-span-5 lg:col-span-6"
>
    <div class="px-6 py-6 space-y-4">
        <Title icon="book" text="Summary" />
        <div class="text-lg leading-relaxed font-normal text-balance list-none">
            Accomplished technical leader with a broad skill set, focused on
            developing efficient organizations and robust systems that reach
            millions of users.
        </div>
    </div>
</div>
