---
type Props = {
    logo: string
    title: string
    subtitle: string
}

const { logo, title, subtitle } = Astro.props
---

<div
    data-section-kind="sticky"
    class="flex col-span-4 justify-around sticky top-10 py-4 z-50 border-cyan-400 border-solid border-2"
>
    <div
        class="flex gap-4 items-center content-center bg-black rounded-3xl p-2"
    >
        <div
            class="relative flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
        >
            <img
                src={logo}
                alt=""
                class="h-10 w-10 object-cover rounded-full"
            />
        </div>
        <div>
            <dd
                class="p-0 m-0 w-full flex-none text-lg font-medium text-zinc-900 dark:text-zinc-100"
            >
                {title}
            </dd>

            <dd class="p-0 m-0 text-sm text-zinc-400 dark:text-zinc-500">
                {subtitle}
            </dd>
        </div>
    </div>
</div>
