---

---

 <script type="module" src="https://1.www.s81c.com/common/carbon/web-components/version/v2.10.0/toggle-tip.min.js"></script>

 <cds-toggletip>
    <div slot="body-text">
        <div
            class="rounded-md dark:bg-gray-600 bg-gray-100 border-2 dark:border-0 border-gray-200 p-2 prose-invert prose-xs"
        >
            <slot name="content" />
        </div>
    </div>
    <slot />
 </cds-toggletip>

<style>
    sl-tooltip:not(:defined) > div[slot='content'] {
        display: none;
    }
</style>
