---
import {resolveIcon} from '@ui/utils/icons'
import { titleCase } from 'scule';
type Props={
    name: string
    version?: string
    label?:string
    proper?: boolean
}

function replaceFillsWithCurrentColor(svgString:string) {
    let filledString = svgString.replace(/fill="[^"]*"/g, 'fill="currentColor"')
    filledString= filledString.replace(/\<svg/, '<svg fill="currentColor" ')
    return filledString;
}

const {name, version, label, proper = false}=Astro.props
let icon = await resolveIcon({name: name.toLowerCase(),version })
icon = replaceFillsWithCurrentColor(icon)
const display = label ?? proper ? titleCase(name) : name
---
<span class="inline-flex rounded-md bg-zinc-100 text-zinc-9000  transition-all dark:bg-zinc-800  px-1 py-1 text-sm cursor-default dark:text-zinc-100 	 ">
<span class="h-[1em] w-[1em] mr-1" set:html={icon}/>
<span class="self-end leading-none	">{display}</span>
</button>

