---
import { getEntry } from 'astro:content'
import { generateInterval } from '@ui/utils/interval'
type Props = {
    slug: string
}

const work = await getEntry('work', Astro.props.slug)
if (!work) return Astro.redirect('/404')
const data = work.data
const { Content } = await work.render()


---

{
    work && (
        <>
            <div class="group relative flex flex-col md:items-end md:col-span-1">
                <p class="text-xl font-medium tracking-tight text-zinc-800 dark:text-zinc-100 md:text-right m-0">
                    {data.title}
                </p>
                <p class="text-sm m-1">
                    {generateInterval(data.from, data.to, {
                        year: 'numeric',
                        month: 'short',
                    })}
                </p>
            </div>
            <div class="group relative flex flex-col items-start md:col-span-3">
                <div class="relative text-base text-zinc-800 dark:text-zinc-300">
                    <Content />
                </div>
            </div>
        </>
    )
}
