---
import { cn } from '@ui/utils/cn'

interface Props {
	flex?: 'row' | 'col' | 'square'
	url?: string
	size?: 'sm' | 'md' | 'lg'
	class?: string
}

const variants = {
	row: {
		main: 'flex-col',
		sizes: {
			sm: 'col-span-2 row-span-1',
			md: 'col-span-4 row-span-2',
			lg: 'col-span-5 row-span-3',
		},
	},
	square: {
		main: 'flex-col',
		sizes: {
			sm: 'col-span-2 row-span-2',
			md: 'col-span-3 row-span-3',
			lg: 'col-span-4 row-span-4',
		},
	},
	col: {
		main: 'flex-col',
		sizes: {
			sm: 'col-span-1 row-span-2',
			md: 'col-span-2 row-span-3',
			lg: 'col-span-4 row-span-5',
		},
	},
}

const { flex = 'col', url, size = 'md' } = Astro.props
const variant = variants[flex]
const classes = [variant.main, variant.sizes[size]]
---

<a
    data-kind="card"
    href={url}
    class={cn([
        'relative cursor-pointer rounded-xl group/bento  transition duration-200 shadow-inner  shadow-zinc-400/40 dark:shadow-none  dark:bg-black dark:border-white/[0.2] bg-white border border-neutral-100 overflow-hidden',
        ...classes,
        Astro.props.class,
    ])}
>
    <div class="absolute top-0 bottom-0 left-0 right-0 w-full h-full">
        <slot name="background" />
    </div>
    <div class="relative z-10 w-full h-full flex flex-col">
        <slot />
    </div>
</a>
