---
import { cn } from '@lib/utils'

type Props = {
	class?: string
}
---

<div
    class={cn(
        'flex-grow flex flex-col items-start justify-around  p-4 text-white text-base font-semibold',
        Astro.props.class
    )}>
    <slot />
</div>
