---
import { cn } from '../../lib/utils'
type Props = {
    text: string
    icon: string
    url?: string
}
---

<a class={cn(Astro.props.url && 'cursor-pointer')} href={Astro.props.url}>
    <div class="group flex items-center" style="opacity:1;transform:none">
        <svg viewBox="0 0 24 24" class="h-5 text-green-500 dark:text-white">
            <use xlink:href={`#${Astro.props.icon}`}></use>
        </svg>
        <div
            class="ml-3 text-sm font-bold uppercase tracking-wide text-gray-600 dark:text-green-400"
        >
            {Astro.props.text}
        </div>
        <div class="grow min-h-1"></div>
        {
            Astro.props.url && (
                <div class="text-gray-600 dark:text-green-400 uppercase tracking-wide text-sm font-bold">
                    View All
                    <svg
                        viewBox="0 0 24 24"
                        class=" w-5 inline-flex  group-hover:translate-x-1 transition duration-300 stroke-2"
                    >
                        <use xlink:href="#arrow-right" />
                    </svg>
                </div>
            )
        }
    </div>
</a>
