---
import RevealBento from '@components/RevealBento.astro'
import GradientText from '@ui/astro/components/elements/GradientText.astro'
import Container from '@ui/astro/components/global/Container.astro'
import Layout from '@ui/astro/layouts/Layout.astro'
---

<Layout
    title="Alex Whiteside"
    description="Experienced software architect, entrepreneur, and creator with over 10 years bringing products from 0 to 1 and beyond in edtech, fintech, and B2B. "
>
    <div slot="before" class="scroll-scale load text-3xl z-[100] translate-y-4">
        <GradientText color="neutral">Alex</GradientText>
    </div>
    <div class="scroll-scale load" slot="title">
        <GradientText color="neutral">
            <div class="scroll-append">
                <GradientText color="neutral" class="p-0"
                    >Alex&nbsp;
                </GradientText>
            </div>
            <span>Whiteside</span>
        </GradientText>
    </div>
    <Container>
        <div>
            <RevealBento />
        </div>
    </Container>
</Layout>
