---
import { getCollection } from 'astro:content'
import MdxSection from '@ui/astro/components/mdx/MdxSection.astro'
import Layout from '@ui/astro/layouts/Layout.astro'
import RecentPosts from '@ui/astro/sections/RecentPosts.astro'
import Social from '@ui/astro/sections/Social.astro'
import { byNumber } from '@ui/utils/interval'
import Badge from '../ui/astro/components/elements/Badge.astro'
import GradientText from '../ui/astro/components/elements/GradientText.astro'
import Container from '../ui/astro/components/global/Container.astro'

export const prerender = false

const titles = (await getCollection('titles')).toSorted(
    byNumber((title) => title.data.order)
)

---

<Layout
    title="Software Architect, Entrepreneur, Creative"
    description="Experienced software architect, entrepreneur, and creator with over 10 years bringing products from 0 to 1 and beyond in edtech, fintech, and B2B. "
>
<div slot="before" class="scroll-scale  text-3xl z-[100] translate-y-4"><GradientText color="neutral">Alex</GradientText></div>
<div class="scroll-scale" slot="title"><GradientText color="neutral" >
 Whiteside
</GradientText></div>

    <Container>
        <div class="space-y-6">
            <!--<h1 class="animate text-6xl font-bold from-gray-400 to-gray-950 bg-gradient-to-br text-transparent bg-clip-text bg-300%">-->
            <div class="space-y-4">
                
        
                <ul class="flex flex-row flex-wrap gap-2">
                    {
                        titles.map((title) => (
                            <Badge
                                color={title.data.color}
                                text={title.data.title}
                                className={title.data.className}
                            >
                                <p class="text-sm font-medium">
                                    {title.data.short}
                                </p>
                            </Badge>
                        ))
                    }
                </ul>
            </div>
            <div class="space-y-16">
                <section>
                    <article class="space-y-8 animate">
                        <span class="">
                            <MdxSection page="home" name="intro" />
                        </span>
                        <Social />
                    </article>
                </section>
               <RecentPosts />

            </div>
        </div>
    </Container>
</Layout>
