---
import RevealBento from '@components/RevealBento.astro'
import Container from '@ui/astro/components/global/Container.astro'
import Layout from '@ui/astro/layouts/Layout.astro'
export const prerender = false
---

<Layout
    title="Bento Grid Preview"
    description="Preview of the new bento grid layout">
    <Container
        ><div>
            <RevealBento />
        </div></Container
    >
</Layout>
