---
import { cn } from '@ui/utils/cn'
import type { HTMLAttributes } from 'astro/types'
type Props = HTMLAttributes<'div'>
const props = Astro.props
---

<div class={cn(props.class, 'prose lg:prose-lg dark:prose-invert')} {...props}>
    <slot />
</div>
