---
import Radar from './blocks/Radar.astro'
import ExperienceThree from './ExperienceThree.astro'
import TopText from './blocks/TopText.astro'
import Pulse from './blocks/Pulse.astro'
import Card from './blocks/Card.astro'
import Code from './blocks/Code.astro'
import Tools from './blocks/Tools.astro'
import TextContent from './blocks/LowerThird.astro'
import TechIcon from '@ui/astro/components/elements/TechIcon.astro'
import { resolveIcon } from '@ui/utils/icons'

const typescript = await resolveIcon({ name: 'typescript' })

const kube = await resolveIcon({ name: 'kubernetes' })
---

<div class="px-4 py-12">
    <div
        class="mx-auto grid max-w-4xl grid-rows-9 grid-flow-dense grid-cols-9 gap-4 aspect-square">
        <Card flex="row" size="lg">
            <Tools slot="background" />
            <TextContent title="Hello" description="World" />
        </Card>
        <ExperienceThree />
        <Card flex="col" size="lg"
            ><Code slot="background" />
            <TopText title="" description="Weakly Held" />
        </Card>
        <Card flex="square" size="md">
            <Pulse slot="background" />
            <TopText title="Hello" description="World" />
        </Card>
        <Card flex="square" size="md">
            <div slot="background">
                <Radar
                    location="bottom-right"
                    mainCircleSize={50}
                    scaleFactor={20}
                    numCircles={3}
                    color="bg-indigo-500/50 border-indigo-500/10">
                    <span set:html={kube} slot="icon" />
                </Radar>
                <Radar
                    location="left-center"
                    color="bg-blue-500/50 border-blue-500/10"
                    mainCircleSize={60}
                    scaleFactor={20}
                    numCircles={3}>
                    <span set:html={typescript} slot="icon" />
                </Radar>
            </div>

            <TopText title="Hello" description="World" />
        </Card>
        <Card flex="row" size="md">
            <div class="w-full h-full bg-blue-500" slot="background"></div>
            <TopText title="Hello" description="World" />
        </Card>
    </div>
</div>
