---
import { resolveIcon } from '@ui/utils/icons'

import portrait from './sections/portrait.png'
import Title from './blocks/Title.astro'
import icons from './sections/roles/icons.svg?raw'
import Pill from './blocks/Pill.astro'
import Experience from './sections/experience/Experience.astro'
import Background from './sections/experience/Background.astro'
import Face from './sections/Face.astro'
import Summary from './sections/Summary.astro'
const options = {
    borderColor: 'border-neutral-700',
}

const content = {}
---

<style is:global>
    html.light .shadow-border {
        background: white;
        color: black;
        --border-color: hsl(0 0% 90% / 50%);
        box-shadow:
            1px -1px var(--border-color),
            -1px 1px var(--border-color),
            1px 1px var(--border-color),
            -1px -1px var(--border-color);
    }

    html.dark .shadow-border {
        background: black;
        color: white;
        --border-color: hsl(0 0% 20% / 50%);
        box-shadow:
            1px -1px var(--border-color),
            -1px 1px var(--border-color),
            1px 1px var(--border-color),
            -1px -1px var(--border-color);
    }
</style>

<div class="hidden" set:html={icons} />
<div>
    <div class="grid grid-cols-12 grid-flow-row">
        <Summary />

        <Face />

        <Background />
    </div>
</div>
