---
import ExperienceThree from './ExperienceThree.astro'
import TopText from './blocks/TopText.astro'
import Pulse from './blocks/Pulse.astro'
import Card from './blocks/Card.astro'
import Code from './blocks/Code.astro'
import TextContent from './blocks/LowerThird.astro'
---

<div class="px-4 py-12">
    <div
        class="mx-auto grid max-w-4xl grid-rows-9 grid-flow-dense grid-cols-9 gap-4 aspect-square">
        <Card flex="row" size="lg">
            <Tools slot="background" />
            <TextContent title="Hello" description="World" />
        </Card>
        <ExperienceThree />
        <Card flex="col" size="lg"
            ><Code slot="background" />
            <TopText title="" description="Weakly Held" />
        </Card>
        <Card flex="square" size="md">
            <Pulse slot="background" />
            <TopText title="Hello" description="World" />
        </Card>
        <Card flex="row" size="md">
            <div class="w-full h-full bg-blue-500" slot="background"></div>
            <TopText title="Hello" description="World" />
        </Card>
    </div>
</div>
