---
import { resolveIcon } from '@ui/utils/icons'

import portrait from './sections/portrait.png'
import Title from './blocks/Title.astro'
import icons from './sections/roles/icons.svg?raw'
import Pill from './blocks/Pill.astro'
import Experience from './sections/experience/Experience.astro'
import Background from './sections/experience/Background.astro'
import Face from './sections/Face.astro'
import Summary from './sections/Summary.astro'
const options = {
    borderColor: 'border-neutral-700',
}

const content = {}
---

<style is:global>
    html.light .shadow-border {
        background: white;
        color: black;
        box-shadow:
            1px 1px #efefef,
            -1px 0px #efefef;
    }

    html.dark .shadow-border {
        background: black;
        color: white;
        box-shadow:
            1px 1px #565656,
            -1px 0px #565656;
    }
</style>

<div class="hidden" set:html={icons} />
<div>
    <div class="border-x border-b border-gray-30 dark:border-gray-500">
        <div class="grid grid-cols-12 grid-flow-row">
            <Summary />

            <Face />

            <Background />
        </div>
    </div>
</div>
