---

import FeaturedPosts from './sections/FeaturedPosts.astro'
import Summary from './sections/Summary.astro'
import Background from './sections/experience/Background.astro'
import icons from './sections/roles/icons.svg?raw'
import Skills from './sections/skills/Skills.astro'
---

<style is:global>
    html.light .shadow-border {
        background: var(--color-base);
        color: black;
        --border-color: hsl(0 0% 90% / 50%);
        box-shadow: 1px -1px var(--border-color),
        -1px 1px var(--border-color),
        1px 1px var(--border-color),
        -1px -1px var(--border-color);
    }

    html.dark .shadow-border {
        background: var(--color-base);
        color: white;
        --border-color: hsl(0 0% 20% / 50%);
        box-shadow: 1px -1px var(--border-color),
        -1px 1px var(--border-color),
        1px 1px var(--border-color),
        -1px -1px var(--border-color);
    }
</style>

<div class="hidden" set:html={icons}/>
<div>
    <div class="grid grid-cols-12 grid-flow-row">
        <Summary/>

        <Background/>
        <!-- <Knowledge /> -->
        <!--<Face />-->
        <Skills/>
        <FeaturedPosts server:defer>
            <FeaturedPosts fallback={true} slot="fallback"/>

        </FeaturedPosts>
    </div>
</div>
