---
import TextContent from './blocks/LowerThird.astro'
import RetroGrid from './blocks/RetroGrid.astro'
import Footer from './Footer.astro'
import TopText from './blocks/TopText.astro'
import Code from './blocks/Code.astro'
import Pulse from './blocks/Pulse.astro'
import Card from './blocks/Card.astro'
---

<div class="min-h-screen px-4 py-12">
    <div
        class="mx-auto grid max-w-4xl grid-rows-9 grid-flow-dense grid-cols-9 gap-4 min-h-20">
        <Card flex="row" size="md"
            ><RetroGrid slot="background" /><TextContent
                title="Hello"
                description="World"
            /></Card
        >
        <Card flex="col" size="lg"
            ><Code slot="background" /><TopText
                title="Hello"
                description="World"
            /></Card
        >
        <Card flex="square" size="md"
            ><Pulse slot="background" /><TopText
                title="Hello"
                description="World"
            /></Card
        >
    </div>
    <Footer />
</div>
