@keyframes hexIcon {

    from {
        height: calc(var(--hex-height) / 3);
        opacity: 1;
    }
    50% {
        height: calc(var(--hex-height) / 4);
        opacity: 0;
    }

    to {
        height: 0;
        opacity: 0;
    }

}