---
import { cn } from '../../../lib/utils'
import { placeholderHex } from './styles'

type Props = {
	angle: number
}
const { angle = 0 } = Astro.props
---

<div
    style={{ '--hex-angle': `${angle}deg` }}
    class={cn(placeholderHex, 'placeholder-hex')}
>
</div>
