---
import { resolveIcon } from '../../../ui/utils/icons'

import type { CollectionEntry } from 'astro:content'
import { isString } from 'radash'
import Hexagon from './Hexagon.astro'
type Props = {
    skill: CollectionEntry<'skills'>['data'] & CollectionEntry<'skills'>
}
const { skill } = Astro.props
const image = isString(skill.icon) ? skill.icon : skill.icon.src
let svg = `<img src="${image}"></img>`
if (!URL.canParse(image)) {
    const result = await resolveIcon({ name: image })
    if (result) {
        svg = result
    }
}
const { Content } = await skill.render()
---

<Hexagon color={skill.color}>
    <div slot="icon" set:html={svg} />
    <div
        slot="title"
        class="text-sm opacity-70 font-medium leading-tight text-center group-hover:mb-1 group-hover:opacity-100">
        {skill.skill}
    </div>
    <div slot="content">
        <Content />
    </div>
</Hexagon>
