@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: auto;
    color-scheme: light;
    scroll-padding-top: 100px;
    --border: 229, 231, 235;
    --menu-bg: 255, 255, 255;
}

html.dark {
    color-scheme: dark;
    --menu-bg: 0,0,0;
    --border: 55, 55, 55;
}

@font-face {
    font-family: 'InterVariable';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/InterSmall.woff2') format('woff2');
}
/* 
  @font-face {
    font-family: 'Concourse';
    src: url('/fonts/concourse-caps.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  } */

/* @layer utilities {
    .font-concourse {
      font-family: "Concourse" ;
    }
  } */

html,
body {
    @apply w-full;
}

body {
    @apply font-sans antialiased;
    @apply flex flex-col;
    @apply text-black/75 dark:text-white/75;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

header {
    @apply fixed left-0 right-0 top-0 z-50 py-6;
    /* @apply saturate-200 backdrop-blur-sm;*/
}

header::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;

    mask: linear-gradient(to top, transparent, black 35%);
    backdrop-filter: blur(4px);
}

main {
    @apply flex-1;
}

footer {
    @apply py-6 text-sm;
}

article {
    @apply prose prose-neutral max-w-full dark:prose-invert prose-img:mx-auto prose-img:my-auto;
    @apply prose-headings:font-semibold;
    @apply prose-headings:text-black prose-headings:dark:text-white;
}

@layer utilities {
    article a {
        @apply font-sans text-current underline underline-offset-[3px];
        @apply decoration-black/30 dark:decoration-white/30;
        @apply transition-colors duration-300 ease-in-out;
    }
    article a:hover {
        @apply text-black dark:text-white;
        @apply decoration-black/50 dark:decoration-white/50;
    }
}

.animate {
    /* @apply -translate-y-3 opacity-0; */
    @apply transition-all duration-300 ease-out;
}

.animate.show {
    @apply translate-y-0 opacity-100;
}

html #back-to-top {
    @apply pointer-events-none opacity-0;
}

html.scrolled #back-to-top {
    @apply pointer-events-auto opacity-100;
}

/* shiki config */
pre {
    @apply border border-black/15 py-5 dark:border-white/20;
}

:root {
    --astro-code-color-text: #09090b;
    --astro-code-color-background: #fafafa;
    --astro-code-token-comment: #a19595;
    --astro-code-token-keyword: #f47067;
    --astro-code-token-string: #00a99a;
    --astro-code-token-function: #429996;
    --astro-code-token-constant: #2b70c5;
    --astro-code-token-parameter: #4e8fdf;
    --astro-code-token-string-expression: #ae42a0;
    --astro-code-token-punctuation: #8996a3;
    --astro-code-token-link: #8d85ff;
}

.dark {
    --astro-code-color-text: #fafafa;
    --astro-code-color-background: #09090b;
    --astro-code-token-comment: #a19595;
    --astro-code-token-keyword: #f47067;
    --astro-code-token-string: #00a99a;
    --astro-code-token-function: #6eafad;
    --astro-code-token-constant: #b3cceb;
    --astro-code-token-parameter: #4e8fdf;
    --astro-code-token-string-expression: #bf7db6;
    --astro-code-token-punctuation: #8996a3;
    --astro-code-token-link: #8d85ff;
}

/* copy code button on codeblocks */
.copy-code {
    @apply absolute right-3 top-3 grid size-9 place-content-center rounded border border-black/15 bg-neutral-100 text-center duration-300 ease-in-out dark:border-white/20 dark:bg-neutral-900;
}

.copy-code:hover {
    @apply bg-[#E9E9E9] transition-colors dark:bg-[#232323];
}

.copy-code:active {
    @apply scale-90 transition-transform;
}

.derek {
    @apply shadow-[0px_0px_0px_1px_rgba(0,0,0,0.06),0px_1px_1px_-0.5px_rgba(0,0,0,0.06),0px_3px_3px_-1.5px_rgba(0,0,0,0.06),_0px_6px_6px_-3px_rgba(0,0,0,0.06),0px_12px_12px_-6px_rgba(0,0,0,0.06),0px_24px_24px_-12px_rgba(0,0,0,0.06)];
}

.subtle {
    @apply shadow-[0_3px_10px_rgb(0,0,0,0.2)];
}

#sticky-backdrop {
    content: '';
    mask: linear-gradient(to top, transparent, black 35%);
    backdrop-filter: blur(4px);
}

:root{
    --max-font-size: max(calc(1vw + 1em), 1.5rem);  
}





.scroll-bg {
    /* animation: bgProgress auto linear;
    animation-timeline: scroll(root);
    animation-range: 0vh 20vh; */
    background: rgb(var(--menu-bg));
    border-bottom: 1px solid;
    border-bottom-color: rgb(var(--border));
}

.scroll-bg.load{
    background: transparent;
    border-bottom-color: transparent;
}
/*
@keyframes bgProgress {
    from {
       background: transparent;
       border-bottom-color: transparent
    }

    40%{
        background: rgba(var(--menu-bg), 0.2);
        border-bottom-color: transparent
    }

    50%{
       background: rgba(var(--menu-bg), 0.95);
       border-bottom-color: var(--border);

    }
    to {
        
        background: rgba(var(--menu-bg), 0.95);
        border-bottom-color: var(--border);
    }
}


@keyframes scaleProgress {
    from {
        font-size: max(calc(3vw + 1em), 3rem);
    }
    50%{
        font-size: max(calc(vw + 1em), 3rem);
    }
    to {
        font-size: var(--max-font-size);
    }
} */

.scroll-scale {
    transform-origin: top left ;
    font-size: var(--max-font-size);
    animation-range: 0vh 20vh;
}

.scroll-scale.load{
    font-size: max(calc(3vw + 1em), 2.8rem);
}

.scroll-append{
    width: 0;
    display: inline-flex;
    opacity: 0;
    color:black;
}