---
import AwesomeLayout from '@ui/astro/recommendations/AwesomeLayout.astro'
import Flat from '@ui/astro/recommendations/Flat.astro'
---

<AwesomeLayout pathname="/recommendations">
    <Flat
        ><div class="w-full h-20">
            This section intentionally left blank
        </div></Flat
    >
</AwesomeLayout>
