---
import { getCollection } from 'astro:content'
import BentoGrid from '../../ui/astro/components/bento/BentoGrid.astro'
import BentoGridItem from '../../ui/astro/components/bento/BentoGridItem.astro'
import GradientText from '../../ui/astro/components/elements/GradientText.astro'
import Container from '../../ui/astro/components/global/Container.astro'
import Layout from '../../ui/astro/layouts/Layout.astro'
import { filterDrafts } from '../../ui/utils/draftProdFilter'
import { optimizeImage } from '@ui/utils/optimizeImage'

const allBooks = await getCollection('books', filterDrafts)
---

<Layout title="Books" description="Books I have read">
    <Container>
        <div class="space-y-4">
            <GradientText class="text-4xl md:text-6xl" color="neutral">Recommendations</GradientText
            >

            <BentoGrid>
                {
                    allBooks.map(({ data }) => (
                        <BentoGridItem
                            variant="row"
                            title={data.name}
                            description={data.description}
                        >
                            <img
                                alt="Book Cover"
                                src={optimizeImage(data.cover, "thumb")}
                                class="transition-all w-1/3 group-hover/bento:scale-105 object-cover rounded-lg shadow-md"
                            />
                        </BentoGridItem>
                    ))
                }
            </BentoGrid>
        </div>
    </Container>
</Layout>
