---

import Container from '../../ui/astro/components/global/Container.astro'
import Layout from '../../ui/astro/layouts/Layout.astro'

import Recommendations2 from '@ui/astro/recommendations/Recommendations.astro'
import Books from '@ui/astro/recommendations/Books.astro'
import Flat from '@ui/astro/recommendations/Flat.astro'
---

<Layout title="Books" description="Books I have read">
    <Container>
        <div class="space-y-4">
          

        <Recommendations2 tab='purpose'></Recommendations2>


       <Flat> <Books></Books></Flat>
        </div>
    </Container>
</Layout>
