---
import { cn } from '../../../utils/cn'
import { sift } from 'radash'
type Props = {
    background?: boolean
}
---

<div
    class={cn(
        sift([
            'mx-auto max-w-[--max-screen-width] w-full',
            Astro.props.background && 'bg-white dark:bg-black/90',
        ])
    )}
>
    <slot />
</div>
