---
import { sift } from 'radash'
import { cn } from '../../../utils/cn'
type Props = {
	fullWidth?: boolean
	background?: boolean
	class?: string
}

const { background, fullWidth = false } = Astro.props
---

<div
    class={cn(
        sift([
            'mx-auto md:max-w-[--max-screen-width] w-full',
            !fullWidth && 'px-2',
            background && 'bg-[var(--color-base)] rounded-3xl',
            Astro.props.class,
        ])
    )}
>
    <slot />
</div>
