---
import '@styles/global.css'
import { ViewTransitions } from 'astro:transitions'
import BaseHead from '@components/BaseHead.astro'
import Drawer from '@components/Drawer.astro'
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import SpeedInsights from '@vercel/speed-insights/astro'
const { title, description } = Astro.props
import { SITE } from '@consts'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${title} | ${SITE.TITLE}`} description={description} />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <Drawer />
    <main>
      <slot />
    </main>
    <Footer />
    <SpeedInsights/>
  </body>
</html>
