---
import { FlipWords } from '@ui/react/Flip/flip'
import Container from '../components/global/Container.astro'
import Social from './Social.astro'
---

<footer class="animate">
    <Container>
        <div class="w-full">
            <article class="text-xl font-medium flex justify-center">
                <div class=" dark:border-zinc-700  bg-slate-50/[0.7] shadow-md dark:bg-zinc-900/[0.7] rounded-xl p-6 max-w-full overflow-hidden">
                    <span>Interested in </span>
                    <FlipWords
                        client:visible
                        words={[
                            'changing the world?',
                            'making a dent in the universe?',
                            'work that is mysterious and important?',
                            'building valuable products?',
                            'solving meaningful problems?',
                        ]}
                        duration={4000}
                        className="whitespace-nowrap"
                    ></FlipWords>
                    <br/>
                    <div class="text-base pt-2">I am, <a href="mailto:hello@alexwhiteside.dev"> let's talk</a>.</div>

                </div>

            </article>


            <div class="flex items-center justify-between mt-16">
                <div>&copy; {new Date().getFullYear()} • Alex Whiteside</div>
                <Social/>
            </div>
        </div>
    </Container>
</footer>
