---
import BackToTop from '../components/BackToTop.astro'
import Container from '../components/Container.astro'
import ThemePicker from '../components/ThemePicker.astro'
---

<footer class="animate">
    <Container>
        <div class="relative">
            <div class="absolute -top-12 right-0">
                <BackToTop />
            </div>
        </div>
        <div class="flex items-center justify-between">
            <div>&copy; {new Date().getFullYear()} • Alex Whiteside</div>
            <ThemePicker />
        </div>
    </Container>
</footer>
