---
import Container from '../components/global/Container.astro'
import ThemePicker from '../components/global/ThemePicker.astro'
import { FlipWords } from '@ui/react/Flip/flip'

---

<footer class="animate">
    <Container>
<div class="w-full space-y-6">
        <article class="text-2xl flex justify-center">
            <div class=" border-zinc-700 border-t-2 bg-black rounded-lg p-6">
            <span>Trying to </span>
            <FlipWords  client:idle words={[  'change the world?',
            'make a dent in the universe?',
            'throw out the rundown?',
            'build useful stuff?',
            'solve meaningful problems?']} duration={4000}></FlipWords><br/>
        <span class="text-lg">I am, let's <a href="email:hello@alexwhiteside.dev">talk</a>.</span></span>
        </div>
        </article>


        <div class="flex items-center justify-between">
            <div>&copy; {new Date().getFullYear()} • Alex Whiteside</div>
            <ThemePicker />
        </div>
    </div>
    </Container>
</footer>
