---
import Icon from '../components/elements/Icon.astro'
const links = [
	{
		icon: 'github',
		href: 'https://github.com/awhiteside1',
	},
	{
		icon: 'linkedin',
		href: 'https://www.linkedin.com/in/alexwhiteside/',
	},
	{
		icon: 'instagram',
		href: 'https://www.instagram.com/being_whiteside/',
	},
]

const withIcons = await Promise.all(
	links.map(async (link) => ({
		...link,
		raw: await import(`./social/${link.icon}.svg?raw`),
	})),
)
---

<span class="inline-flex gap-6">
    {
        withIcons.map((link) => (
            <Icon href={link.href}>
                <Fragment set:html={link.raw.default} />
            </Icon>
        ))
    }
</span>
